.file {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #a5a5a575;
    text-align: left;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}

.file:hover {
    background-color: #b7b7b7;
}
/* .file:active {
    border-style: inset;
    background-color: #8c8c8c;
} */
.file a {
    display: inline;
    color: black;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
    background-color: transparent;
    padding-left: 10px;
}

.download-icon i {
    transition: all 0.1s linear;
}

.download-icon:hover i {
    transform: scale(1.5);
    cursor: pointer;
}

.download-icon:active i {
    color: black;
}

.folder {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #a5a5a575;
    text-align: left;
    padding-left: 30px;
    border-radius: 15px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}


.folder:hover {
    background-color: #b7b7b7;
}
.folder:active {
    border-style: inset;
    background-color: #8c8c8c;
}

.folder a {
    display: inline;
    color: black;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
    background-color: transparent;
    padding-left: 30px;
}
.folder i {
    display: inline;
}

.folder a:hover {
    background-color: #b7b7b7;
}

.path {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid gray */
}
.path p {
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.path div {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.path div:hover {
    background-color: #985ca5;
}

.path div:active {
    background-color: #985ca5;
    border-style: inset;
}

.directory-container {
    height: 100%;
}

.directory {
    overflow-y: auto;
    height: 100%;
}