
.navbar-tabs {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    background-color: #ffffff00;
  }
  
  .navbar-tabs li {
    display: block;
    margin-bottom: 10px;
    align-items: center;
    width: 100%
  }
  
  .navbar-tabs li a {
    display: flex;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
    align-items: center;
  }
  
  .navbar-tabs li a:hover {
    border: 1px solid #333; /* Add border on hover */
    border-radius: 10px;
  }
  
  .navbar-tabs li a.active {
    background-color: #f1f1f1; /* Style for active tab */
    border: 1px solid black;
    border-radius: 10px;
  }

  .navbar-tabs li a.active:hover {
    background-color: #d6d6d6; /* Style for active tab */
    border: 1px solid black;
    border-radius: 10px;
  }


.icon {
  transition: all 0.1s linear;
  margin-left: 10px;
}

.icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.icon:active {
  color: black;
}