.vfs-panel {
    display: flex;
    height: 100%;
    /* overflow-y: auto; */
}

#vfs-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#vfs-header h2 {
    flex: 10;
}

#vfs-header button {
    flex: 1;
    height: 50%;
}