.delete-icon * {
    transition: all 0.1s linear;
}

.delete-icon:hover * {
    transform: scale(1.5);
    cursor: pointer;
}

.delete-icon:active * {
    color: black;
}

#api-key-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#api-key-header h2 {
    flex: 10;
}

#api-key-header button {
    flex: 1;
    height: 50%;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    color: black;
  }
.modal-content form {
    display: inline-block;
}
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .key-container {
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;
  }
  .key-container p {
    word-break: break-all;
    white-space: normal;
}

.key-container span {
  position: absolute;
  top: -10px;
  right: -10px;
}
.key-container span * {
  transition: all 0.1s linear;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: aqua;
  align-items: center;
}

.key-container span:hover * {
  transform: scale(1.5);
  cursor: pointer;
}

.key-container span:active * {
  color: black;
}

