.tool-panel {
    display: flex;
}

.tool-tab {
    display: flex;
}

.tool-tab div {
    flex: 1;
    background-color: rgb(89, 158, 158);
}

.tool-tab div:hover {
    background-color: rgb(75, 133, 133);
}

.tool-tab div:active {
    border-style: inset;
}

.tool-tab div.active {
    background-color: rgb(105, 186, 186);
}