
/** For Styler dropdown menus */
.styler-color-field {
    background-color: #000000;
  }
  
  .styler-container {
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .styler-container span {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .styler-close-button {
    position: absolute;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 0px;
    right: 0px;
  }

  .colormap {
    display: inline-block;
    position: relative;
  }
  .colormap-content {
    display: none;
    position: absolute;
    width: 100px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .colormap:hover .colormap-content {
    display: block;
    background-color: #FFFFFF;
  }
  .colormap-content a {
    display: flex;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .colormap-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
