.modal {
    position: absolute; /* Position absolute to overlay on top */
    z-index: 2; /* Z-index higher than background */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px; /* Add padding to the modal content */
    color: #fff; /* Text color */
    border-radius: 5px; /* Rounded corners (optional) */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Drop shadow (optional) */
  }
.close {
    margin-top:-25px;
    margin-right:-25px;
    float: right;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 30px;
    background: #910000;
    font-size: 20px;
    font-weight: bold;
    line-height: 0px;
    padding: 10px 5px;
  }