.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    width: auto;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 999;
  }

  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }


/** For the icons in the element dropdown menus */
.dropdownMenuIcon {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-right: 10px
  }