.file {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ae5858;
    text-align: left;
    padding-left: 30px;
}

.file:hover {
    background-color: #7f3d3d;
}


.folder {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #985ca5;
    text-align: left;
    padding-left: 30px;
}


.folder:hover {
    background-color: #d37fe6;
}
.folder:active {
    border-style: inset;
}

.folder a {
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
    background-color: transparent;
    padding-left: 30px;
}

.folder a:hover {
    background-color: #d37fe6;
}

.path {
    display: flex
}

.path div {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px
}

.path div:hover {
    background-color: #985ca5;
}

.path div:active {
    background-color: #985ca5;
    border-style: inset;
}