
.navbar-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c7c7c;
  }
  
  .navbar-tabs li {
    display: block;
  }
  
  .navbar-tabs li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Initially no border */
  }
  
  .navbar-tabs li a:hover {
    border-bottom: 2px solid #333; /* Add border on hover */
  }
  
  .navbar-tabs li a.active {
    background-color: #f1f1f1; /* Style for active tab */
  }